
ul >.nav >.lastNav {
    list-style: none;
    display: inline-block;
}
a {
    text-decoration: none;
}
.firstHeader {
    background-color: orange;
    background-size: cover;
    text-decoration-color: white;
}
.form-inline {
  text-align: right;
}
button {
    background-color: orange;
}
.lastNav >li:hover {
display: none;
}
