

body {
    font-size: small;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align:center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  .fa:hover {
    opacity: 0.7;
  }
  li >.fa-facebook {
    background:grey;
    color: white;
  }
  
 li >.fa-twitter {
    background:grey;
    color: white;
  }
  
  li >.fa-google {
    background:grey;
    color: white;
  }
  
  li >.fa-linkedin {
    background:grey;
    color: white;
  }
  
  li >.fa-youtube {
    background:gey;
    color: white;
  }
  
  li >.fa-instagram {
    background:grey;
    color: white;
  }
  
  li >.fa-pinterest {
    background:grey;
    color: white;
  }
  li >.fa-google-plus {
    background:grey;
    color: white; 
  }
  .btn {
    margin-bottom: 20px;
    background-color: rgb(255, 145, 0);
    text-align: center;
  }
 /* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: orange;
}

/* mouse over link */
a:hover {
  color: orange;
}

/* selected link */
a:active {
  color: blue;
}